{
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.json",
      "excludeFiles": ["package.Json"],
      "options": {
        "useTabs": true,
        "tabWidth": 2
      }
    }
  ]
}
